<h1>閲覧</h1>
<%= form_for :property, url: properties_path, method: :patch do |f| %>

  <p>
    <%= f.label :property_name, "物件名" %><br>
    <%= @property.property_name %>
  </p>
 
  <p>
    <%= f.label :rent, "賃料" %><br>
    <%= @property.rent %> 円
  </p>

  <p>
    <%= f.label :address, "住所" %><br>
    <%= @property.address %>
  </p>

  <p>
    <%= f.label :age, "築年数" %><br>
    <%= @property.age %> 年
  </p>

  <p>
    <%= f.label :remarks, "備考" %><br>
    <%= @property.remarks %>
  </p>

  <hr>

  <h2>最寄り駅1</h2>
    <p>
      <%= f.label :line_name_1, "路線名" %><br>
      <%= @property.line_name_1 %>
    </p>

    <p>
      <%= f.label :station_name_1, "駅名" %><br>
      <%= @property.station_name_1 %>
    </p>

    <p>
      <%= f.label :walk_fraction_1, "徒歩分数" %><br>
      <%= @property.walk_fraction_1 %> 分
    </p>

  <h2>最寄り駅2</h2>
    <p>
      <%= f.label :line_name_2, "路線名" %><br>
      <%= @property.line_name_2 %>
    </p>

    <p>
      <%= f.label :station_name_2, "駅名" %><br>
      <%= @property.station_name_2 %>
    </p>

    <p>
      <%= f.label :walk_fraction_2, "徒歩分数" %><br>
      <%= @property.walk_fraction_2 %> 分
    </p>
<% end %>

<%= link_to '編集', edit_property_path(@property) %>
| <%= link_to '戻る', properties_path %>